#game-board {
  text-align: center;
  width: 80vh;
  margin: 0 auto;
}

.board {
  width: 18vh;
  height: 18vh;
  margin: 1vh;
  display: inline-block;
  border: 2px solid #bbb;
  padding: 1vh;
  font-size: 2em;
  background-image: url("../img/avengers-logo.jpg");
  background-size: 11vh;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
}

.board-flip {
  transform: rotateY(180deg)
}
  
.card-img {
  width: auto;
  height: 15vh;
}

.game-stats {
  font-weight: bolder;
  font-size: 1.2rem;
  padding-right: 0;
}