#game-board {
  text-align: center;
  width: 80vh;
  margin: 0 auto;
}

.board {
  width: 18vh;
  height: 18vh;
  margin: 1vh;
  display: inline-block;
  background: #00CC99;
  padding: 1vh;
  font-size: 2em;
}

.card-img {
  width: auto;
  height: 15vh;
}